/* latin-ext */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Roboto'), local('Roboto-Regular'), url(../RobotoLatinExt.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Roboto'), local('Roboto-Regular'), url(../RobotoLatin.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  body, .modal-content {
	background-color: #111;
	font-family: 'Roboto', sans-serif;
	color: rgb(196, 196, 196);
	margin: 0;
	padding: 0;
	overflow: hidden;
  }
 
 /* removes the dotted white border around <a> tags when clicked */
 a {
	outline: 0;
  }
   
 /* The sidebar menu */
 #sidebar {
	height: 100%; /* 100% Full-height */
	width: 0; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 1; /* Stay on top */
	top: 0;
	left: 0;
	background-color: rgb(32, 32, 32); /* Black*/
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 60px; /* Place content 60px from the top */
	transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  #sidebar a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
  }
  
  /* The song actually loaded will be brighter */
  .currentSong {
	color: #f1f1f1 !important;
  }
  
  /* Position and style the close button (top right corner) */
  #sidebar .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
  }

  /* FA icons on the sidebar */
  #sidebar .fas {
	  font-size: 45px;
	  margin-top: 15px;
  }
  
  /* The button used to open the sidebar */
  .custombtn {
	font-size: 40px;
	cursor: pointer;
	background-color: #111;
	color: white;
	padding: 10px 10px;
	border: none;
  }
  
  .custombtn:hover {
	background-color: #444;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #UIcontainer {
	transition: margin-left .5s; /* If you want a transition effect */
	padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
	.sidebar {padding-top: 15px;}
	.sidebar a {font-size: 18px;}
  } 

  /* Hide the thumbnail on screens < 700px */
  @media only screen and (max-height: 700px) { 
	#current-song-image { 
	  display: none; 
	} 
  }

  .noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Old versions of Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Opera and Firefox */
	text-decoration: none;
  }

  .button-forward{
	  font-size: 40px;
  }
   
 /* removes the dotted white border around <a> tags when clicked */
 a, a:hover {
	outline: 0;
	text-decoration: none !important;
	color : rgb(196, 196, 196);
  }

  .sensor-name{
	  color:#f1f1f1;
	  font-size: larger;
  }

  .modal-body h3 {
	  text-align: center;
	  padding-bottom: 10px;
  }

  .sensor-disabled {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
	opacity: 0.4;
	cursor: default;
  }

  .song-edit{
	  margin-left: 10px;
  }
  .song-delete{
	  margin-left: 10px;
  }
  .status-icon{
	  padding-top: 20px;
	  font-size: 30px;
  }
  .track-type-icon{
	  padding-top: 10px;
	  font-size: 20px;
  }
  .master-icon{
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom : 20px;
	font-size: 30px;
}
  .rangeslider{
	  margin-left: auto;
	  margin-right: auto;
	  background: #444;
  }

  
.template{
	display:none;
}
.sensor-learn .fas, .sensor-input-assign{
	font-size: 25px;
}

/* .sensor-assignation{
	font-size: small;
} */

  /* shake bell icon on hover */
  .fa-bell:hover {
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
  }
  
  @keyframes shake {
	10%, 90% {transform: translate3d(-1px, 0, 0);}
	20%, 80% {transform: translate3d(2px, 0, 0);}
	30%, 50%, 70% {transform: translate3d(-4px, 0, 0);}
	40%, 60% { transform: translate3d(4px, 0, 0);}
  }