/* latin-ext */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Roboto'), local('Roboto-Regular'), url(../RobotoLatinExt.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Roboto'), local('Roboto-Regular'), url(../RobotoLatin.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  /* @media {
	(min-width: 375px) and (max-width: 1280px),
	(min-width: 1280px), 
	(min-resolution: 192dpi) {
		 (-webkit-min-device-pixel-ratio: 1)
	}
  } */

  body, .modal-content  {
	background-color: #111;
	font-family: 'Roboto', sans-serif;
	color: rgb(196, 196, 196);
	margin: 0;
	padding: 0;
  }
 
 /* removes the dotted white border around <a> tags when clicked */
 a, a:hover {
	outline: 0;
	text-decoration: none !important;
	color : rgb(196, 196, 196);
  }

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Old versions of Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Opera and Firefox */
	text-decoration: none;
  }

  /* main title */
  h1 {
	  text-align: center;
	  font-size: 30px;
	  color: #f1f1f1;
	  padding-bottom: 30px;
  }

  .button-back{
	  font-size: 40px;
  }
  
  .footer-button{
	  font-size: 50px;
	  display: block;
	  text-align: center;
	  margin-top: 20px;
  }
  
  .card{
	  width: 100%;
	  max-width: 250px;
	  background-color: rgb(43, 43, 43);
  }

  .card-button, .fa-button {
	  font-size: 25px;
	  padding-left: 10px;
	  padding-right: 10px;
  }

  .fa-button-xl{
	  font-size: 35px;
	  padding-left: 20px;
	  padding-right: 20px;
  }


  .template{
	  display: none;
  }

  input[type="text"], input[type="text"]:focus, input[type="text"]:disabled, textarea, #song-editor-text-edit {
	background-color : #111; 
	/* background-color : rgb(43, 43, 43);  */
	border-color: #111;
	color:white;
	text-align: center;
  }

  /* spinner */
  .lds-dual-ring {
	display: inline-block;
	width: 80px;
	height: 80px;
  }
  .lds-dual-ring:after {
	content: " ";
	display: block;
	width: 64px;
	height: 64px;
	margin: 8px;
	border-radius: 50%;
	border: 6px solid #fff;
	border-color: #fff transparent #fff transparent;
	animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }
  