<!doctype html>
<html lang="fr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="serveur web du projet 'OLO'">
    <meta name="author" content="laurent@reso-nance.org">
<!-- TODO 
    <link rel="icon" href="../../static/favicon.png">
-->
    <!-- libraries import -->
    <script src="../static/js/jquery-3.4.1.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/socket.io.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/rangeslider.js-2.3.0/rangeslider.min.js"></script>
    <link href="../static/rangeslider.js-2.3.0/rangeslider.css" rel="stylesheet">
    <link href="../static/fontawesome-free-5.13.0-web/css/all.css" rel="stylesheet">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/index.css" rel="stylesheet">
    <script src="../static/js/index.js"></script>
    
    <title>OLO</title>
    
  </head>
  <body>
    {% include 'toasts.html' %}
    <!-- main right container -->
    <div class="UI mt-1 noselect" id="UIcontainer">
      <div class="row"><!-- contains the top buttons, title and the -> songs button -->
        <div class="col-11">
          <!-- top buttons play, stop, calibration and menu -->
          <div class="text-center" style="text-align: center;">
            <a class="custombtn fas fa-play transport-button" data-action="play"></a>
            <a class="custombtn fas fa-stop transport-button" data-action="stop"></a>
            <span class="mx-4" style="font-size: 3rem;">olo</span>
            <a class="custombtn fas fa-moon" id="calibrate-ambiant" data-toggle="tooltip" title="calibrer tous les capteurs à zéro"></a>
            <a class="custombtn fas fa-bars toggleNav"></a>
          </div> 
          <!-- song name and image if viewport = xl -->
          <div class="text-center" style="text-align: center;">
            <h2 class="my-4" id="currentSongName"></h2>
            <div id="no-song-loaded" class="py-5" style="font-size:x-large; height:50vh">
              <p>sélectionner un morceau dans le menu<span class="fas fa-bars px-2"></span> pour le charger</p>
            </div>
            <div><img class="img-responsive rounded-circle mx-auto" id="current-song-image" src="../static/imgs/default.png" style="max-height: 20vh;"></div>
          </div> 
        </div>
        <div class="col-1">
          <!-- right button leading to /songs -->
          <a href="javascript:void(0);" class="float-right px-4 fas fa-chevron-circle-right button-forward" data-toggle="tooltip" title="médiathèque"></a>
        </div>
      </div>

      <!-- sensors modal -->
      <div class="modal fade" id="sensors" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-body" id="sensor-container">
              <h3>capteurs</h3>
              <!-- one sensor template -->
              <div class="sensor-template mx-auto my-auto text-center row py-2" id="mySensor">
                <div class="col-5">
                  <img class="img-responsive sensor-status mx-auto" src="../static/imgs/wireless-sensor-gray.png" style="max-width: 100%;">
                  <a href="javascript:void(0);" class="fas fa-toggle-off sensor-led mx-2" style="font-size: 25px;" data-toggle="tooltip" title="désactiver"></a>
                  <a href="javascript:void(0);" class="fas fa-sun sensor-calibration mx-2" style="font-size: 25px;" data-toggle="tooltip" title="calibrer lumière max"></a>
                </div>
                <div class="col-7">
                  <div><span class="sensor-name">mySensor</span></div>
                  <div><span class="sensor-osc">/test</span></div>
                  <div><em>IP:<span class="sensor-ip">127.0.0.1</span></em></div>
                  <div><span class="sensor-count">x</span> capteurs</div>
                  <div class="sensor-values d-flex justify-content-around"></div>
                  <div class="sensor-assignations d-flex justify-content-around"></div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <!-- assignation modal -->
      <div class="modal fade" id="track-assignation" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-body">
              <div class="text-center noselect">
                <span class="py-2"><h4>assignation de la piste XX</h4></span>
                <div class="sensor-learn my-auto py-3">
                  <a href="javascript:void(0);" class="sensor-learn fas fa-map-marker-alt px-2"></a>
                  <span style="font-size: 1.2rem;">découvrir automatiquement</span>
                  <div id="assign-help" class="py-2">éclairer le capteur que vous souhaitez utiliser pour contrôler cette piste ...</div>
                </div>
              </div>

              <div id="assign-sensors-container">

                <!-- this will be replicated for each sensor -->
                <div id="assign-sensor-template" class="template">
                  <div class="assign-sensor-name py-2 text-center noselect" style="font-size: 1.2rem;">myDevice</div>
                  <div class="assign-sensors-inputs d-flex justify-content-around">
                      <!-- this will be replicated for each value of the sensor -->
                      <!-- <a href="javascript:void(0);" class="fas fa-lightbulb"></a> -->
                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>

         <!-- shutdown warning modal -->
      <div class="modal fade noselect" id="poweroff-warning">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-body text-center">
              <div>
                <h3>Voulez-vous vraiment éteindre le raspberry pi ?</h3>
              </div>
              <div>
                <a class="text-center fas fa-ban closeModal mx-4" data-modal="poweroff-warning" style="font-size: 40px;"></a> 
                <a class="text-center fas fa-power-off mx-4" id="power-off" style="color:#b7271d; font-size: 40px;"></a> 
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- main page, will be populated with tracks controls -->
      <div class="container mt-3" style="max-width: 80vw;">
        <div id="tracks-container" class="d-flex justify-content-around mb-3">
        </div>
        <!-- master -->
        <div>
          <!-- buttons -->
          <div class="text-center master-bar">
            <p>master</p>
            <a href="javascript:void(0);" class="master-icon fas fa-volume-up" name="auto" data-toggle="tooltip" title="capteurs"></a>
            <a href="javascript:void(0);" class="master-icon fas fa-user" name="manual" data-toggle="tooltip" title="manuel"></a>
            <a href="javascript:void(0);" class="master-icon fas fa-volume-mute" name="mute" data-toggle="tooltip" title="muet"></a>
          </div>
          <!-- horizontal fader -->
          <span><input type="range" min="0" max="1000" value="1" id="master-input"></span>
        </div>

      </div>
      

    <!-- sidebar with song list and song edit buttons -->
    <div id="sidebar">
      <a href="javascript:void(0)" class="closebtn toggleNav fas fa-times-circle" style="font-size: 20px;"></a>
      <span id="songs-titles">
        <!-- will be populated with : <a href="javascript:void(0)" class="song-title" id=songTitle>songTitle</a> -->
      </span>
        <!-- wifi modal button -->
        <div class="text-center my-3"><a href="javascript:void(0);" class="fas fa-wifi" data-toggle="tooltip" title="voir les capteurs"></a></div>
        <div class="text-center my-3"><a href="javascript:void(0);" class="fas fa-power-off" data-toggle="tooltip" title="éteindre le raspberry pi" id="power-off-modal"></a></div>
    </div>

  </body>
</html>