<!doctype html>
<html lang="fr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="serveur web du projet 'OLO'">
    <meta name="author" content="laurent@reso-nance.org">
<!-- TODO 
    <link rel="icon" href="../../static/favicon.png">
-->
    <!-- libraries import -->
    <script src="../static/js/jquery-3.4.1.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/socket.io.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <link href="../static/fontawesome-free-5.13.0-web/css/all.css" rel="stylesheet">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/songs.css" rel="stylesheet">
    <script src="../static/js/songs.js"></script>
    
    <title>OLO</title>
    
  </head>
  <body>
    {% include 'toasts.html' %}

  <!-- header -->
    <div class="mt-2 noselect" style="position:relative; z-index: 999999;">
      <a href="javascript:void(0);" class="float-left px-4 mt-1 fas fa-chevron-circle-left button-back" data-toggle="tooltip" title="retour à l'interface"></a>
      <h1>médiathèque</h1>
    </div>

    <!-- song list modal -->
    <div class="modal fade" id="editSongs" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <a class="fas fa-times closeModal" data-modal="editSongs"></a>
            <p class="modal-title">Éditer les morceaux</p>
          </div>
          <div class="modal-body">
            <span id="songs-edit">
              <!-- will be populated with a song list with an edit and delete button -->
            </span>
          </div>
        </div>
      </div>
    </div>

     <!-- download loading modal -->
  <div class="modal fade noselect" id="loadingFile">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body row">
          <div class="lds-dual-ring col-3"></div>
          <div class="col-9"><p>Le morceau <span id="loadingSongName"></span> est en cours de préparation. Son téléchargement se lançera très bientôt...</p></div>
        </div>
      </div>
    </div>
  </div>

     <!-- delete warning modal -->
  <div class="modal fade noselect" id="delete-warning">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body text-center">
          <div>
            <p>Si le morceau <strong><span id="delete-song-name"></span></strong> est supprimé, il disparait dans le Grand Néant et ne pourra jamais être récupéré</p>
            <p>Voulez-vous vraiment le supprimer ?</p>
          </div>
          <div>
            <span class="text-center fas fa-ban fa-button closeModal" data-modal="delete-warning"></span> 
            <span class="text-center fas fa-trash-alt fa-button delete-song" style="color: rgba(255, 17, 0, 0.479);"></span> 
          </div>
        </div>
      </div>
    </div>
  </div>

     <!-- edit song modal -->
  <div class="modal fade noselect" id="song-editor">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-body">
          <!-- song section : title, image... -->
          <h3 class="text-center mb-3" id="song-editor-title">éditer un morceau</h3>
          <div class="row">
            <div class = "col-9 my-auto">
              <input type="text" class="form-control" id="song-editor-text-edit" type="text">
            </div>
            <div class="col-3 my-auto">
              <form  method=POST enctype=multipart/form-data style="display:none;">
                <input type="text" name="songName" style="display:none;">
                <input type="file" class="form-control-file" id="image-fileinput" name="imageFile" accept=".jpg,.jpeg,.png,.gif,image/jpeg,image/png,image/gif">
              </form>
              <a href="javascript:void(0);" class="fas fa-image fa-button" id="upload-image" data-toggle="tooltip" title="importer une image (jpg, png ou gif, 300x300 pixels max)"></a> 
            </div>
          </div>
          <!-- tracks section -->
          <h4 class="text-center my-4">pistes</h4>
          <div id="song-editor-tracks" class="text-center">
            <h5>aucune piste pour l'instant 
              <a href="javascript:void(0);" class="edit-track-name fa fa-i-cursor mx-2"></a>
              <a href="javascript:void(0);" class="remove-track fa fa-trash mx-2"></a>
              <form  method=POST enctype=multipart/form-data style="display:none;">
                <input type="text" name="songName" style="display:none;">
                <input type="text" name="trackName" style="display:none;">
                <input type="file" class="form-control-file audio-fileinput" name="wavFile" accept=".wav,audio/x-wav">
              </form>
            </h5>
            
          </div>
          <!-- add track button and form -->
          <div class="text-center my-3">
            <a href="javascript:void(0);" class="add-track fa fa-plus-circle fa-button-xl" data-toggle="tooltip" title="ajouter une piste"></a>
            <form  method=POST enctype=multipart/form-data style="display:none;" id="new-track-form">
              <input type="text" name="songName" style="display:none;">
              <input type="text" name="trackName" value="newTrack" style="display:none;">
              <input type="file" class="form-control-file" name="wavFile" id="new-track-input" accept=".wav,audio/x-wav">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

   <!-- import song from zip modal -->
   <div class="modal fade noselect" id="zip-import">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body text-center">
          <div class="mb-3"><h2>importer un morceau depuis un zip</h2></div>
          <div>
            <p>
              L'import depuis un zip permet de <strong>restaurer un morceau téléchargé</strong> depuis cette même interface
              ou d'en <strong>importer un nouveau</strong>.
            </p>
            <p>Dans ce cas, il doit contenir chaque piste au format <strong>.wav 44100Hz</strong> 16 ou 32 bits</p>
            <p>
              Il peut également contenir une image au format <strong>jpg, png ou gif, 300x300 pixels max</strong>.
              L'image peut aussi être téléversée ultérieurement en éditant le morceau après l'import.
            </p>
            <p> 
              Par défaut le <strong>nom du zip</strong> deviendra le <strong>nom du morceau</strong> et le 
              <strong>nom de chaque wav</strong> sera utilisé comme <strong>nom de piste</strong>.
              Les pistes seront triées par <strong>ordre alphabétique</strong>. Si le fichier wav contient 
              le mot <strong>sample</strong>, elle sera automatiquement reconnue comme un sample et non une piste à boucler.
            </p>
            <p>
              Dans tous les cas, il restera possible d'éditer le morceau après import en cliquant sur <span class="fas fa-edit"></span>.
            </p>
          </div>
          <!-- loading message -->
          <div id="zip-import-loading" class="row mx-auto">
            <div class="lds-dual-ring col-3 my-auto"></div>
            <div class="col-9 my-auto">
              <p><h4>téléversement en cours, merci de patienter ...</h4></p>
            </div>
          </div>
          <div id="zip-error">
            <p><h4>téléversement échoué : ce fichier est-il un zip ?</h4></p>
          </div>
          <!-- upload zip button, form and input -->
          <div>
            <a class="text-center fas fa-file-upload footer-button mb-2" id="upload-zip"></a> 
            <form  method=POST enctype=multipart/form-data style="display:none;" id="zip-upload-form">
              <input type="file" class="form-control-file" name="zipFile" accept=".zip,application/zip" id="zip-input">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


    <!-- full page width -->
    <div class="container mt-3" style="max-width: 80vw;">

      <div class="card-deck" id="cards-container">

        <!-- card template -->
        <div class="card template text-center noselect">
          <img class="card-img-top img-fluid" src="../static/imgs/default.png"> 
          <div class="card-body">
            <h5 class="card-title">nom du morceau</h5>
            <h6 class="card-subtitle mb-2 text-muted track-count">X piste(s)</h6>
            <h6 class="card-subtitle mb-2 text-muted sample-count">y sample(s)</h6>
            <div class="card-footer">
              <div class="row">
                <div class="col-4"><a href="javascript:void(0);" class="edit-this-song fas fa-edit card-button" data-toggle="tooltip" title="éditer"></a></div>
                <div class="col-4"><a href="javascript:void(0);" class="fas fa-download card-button" data-toggle="tooltip" title="télécharger"></a></div>
                <div class="col-4"><a href="javascript:void(0);" class="ask-confirmation fas fa-trash card-button" data-toggle="tooltip" title="supprimer"></a></div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <!-- add and import buttons -->
      <div class="footer-button">
        <a href="javascript:void(0);" class="text-center fas fa-file-upload p-4" id="import-button" data-toggle="tooltip" title="importer depuis un zip"></a> 
        <a href="javascript:void(0);" class="text-center fas fa-plus-square p-4" id="add-button" data-toggle="tooltip" title="créer un nouveau morceau"></a> 
      </div>
    <!-- end container -->
    </div>
  </body>
</html>