  <div class="position-absolute w-100 d-flex flex-column p-4 mt-3" id="toast-container">

    <div data-autohide="true" data-delay=5000 id="toast-template" class="ml-auto">
        <div class="toast-body">
            <button type="button" class="ml-2 mb-1 close">&times;</button>
            <strong class="mr-auto toast-title"></strong>
            <span class="toast-text"></span>
        </div>
    </div>

  </div>


<script>

    $(document ).ready(function() {
        var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + '/notifications');
        $("#toast-template").hide();

        // dispose of the toast when closed by the user
        $(document).on("click", ".close", function(event){
            const toast = $(this).closest(".toast");
            toast.toast("dispose");
            toast.remove();
        });
        
        // same when automatically closing
        $(document).on('hidden.bs.toast', '.toast', function () {
            $(this).find(".close").click();
        });

        // create a new toast and show it
        socket.on("toast", function (toast){
            let newToast = $("#toast-template").clone();
            newToast.removeAttr("id").addClass("toast");
            newToast.css("z-index", 99999); // must be added AFTER the .toast or it will be ignored
            if (toast.title) newToast.find(".toast-title").text(toast.title);
            newToast.find(".toast-text").text(toast.text);
            if (toast.style) {
                newToast.find(".toast-body").addClass("bg-" + toast.style);
                newToast.find(".toast-body").css("color", "white");
            }
            if (toast.delay) newToast.attr("data-delay", toast.delay);
            $("#toast-container").append($(newToast));
            newToast.show();
            $(".toast").toast("show")
        });
    });

</script>

<style>

    .toast-body{
        background-color:rgb(53, 53, 53) ;
    }

    .close{
        color: #fbfbfb;
    }

</style>